*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.main-container{
    height: 100%;
    /* border: 2px solid red; */
    display: grid;
}
.up-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0; */
    background-color: #E4EDFC;
}
.card-container{
    background-color: #ffffff;
    border-radius: 5px;
    gap: 10px;
   display: flex;
   width: 45%;
   justify-content: space-evenly;
   padding: 0.5rem;
}
.card-container > *{
    flex-shrink: 1;
    /* outline: 2px solid blue; */
    /* border: 2px solid red; */
    flex-grow: 0;
    /* padding: 5px 10px ; */
}
.card-img{
    position: relative;
}
.card-img span{
    position: absolute;
   top: 5px;
   right: 5px;
   background-color: white;
   border-radius: 50%;
   padding: 2px; 
   font-size: 12px;
}
.card-img img{
    object-fit: cover;
    height: 100px;
     max-width: 100%;
     display: block;
     border-radius: 3px;
     align-content: center;
     /* position: relative;
     top: 10px; */
 }
 .card-booking{
    gap: 3rem;
    display: flex;
    flex-grow: 1;
    /* border: 2px solid yellow; */
}

.card-booking-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid green; */
    /* margin-left: 10px; */
      /* justify-content: space-between; */
}

.card-booking-headline > * {
    margin-bottom: 0.1rem;   
}
.card-booking-headline h1 {
    font-weight: bold;
    font-size: 18px;
}
.card-booking-headline h3{
    font-size: 12px;
   }
.card-booking-headline p{
   /* border: red 1px solid; */
    font-weight: lighter;
    font-size: 10px; 
}
.card-tagline{
    background-color: rgba(133, 37, 37,0.2);
    padding: 3px;
    width: 50%; 
}
.tagline-paragraph{
    color: red;
    font-size: 8px;
   text-align: center;
}
.beachfront::before{
    content: "🌴";
}
.beachfront{
    position: relative;
   bottom: 3.2rem;
    left: 153px;
    font-size: 10px;
    background-color:rgba(178, 208, 246, 0.2);
    color:   #6d88bb;
    padding: 1px;
}
.card-rating-section{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
}
.card-rating-icon{
    display: flex;
    gap: 3px;
    font-size: 10px;
    justify-content: end;
    text-align: end;
}
.card-rating-icon >h4{
    margin: 0; 
    font-size: 12px;
}
.card-rating-icon span{
    color: rgb(179, 179, 26);
}
.card-rating-price{
    text-align: end;
    font-size: 10px;
}
.card-rating-price s{
    color: rgb(164, 27, 27);
    font-size: 8px;
    font-weight: 10px;
}
.down-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0; */
    background-color:  #040F23;
}
.down-card-container{
    background-color:  #091835;
    color: #fff;
}
.down-card-container .card-img >span{
    color: black;
} 
.second-child-card-container-details{
   gap: 1.8rem;
}
.second-child-card-container-details .card-tagline{
    background-color: rgba(0, 128, 0, 0.2);
    width: 30%;
}
.second-child-card-container-details .tagline-paragraph{
    color: green;
}