* {
    margin: 0;
}
body{
    height: 100vh;
    /* height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.main-container{
    height: 100%;
    /* border: 2px solid red; */
    display: grid;
    

}
.up-container{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #E4EDFC;
}
/* beginning of up container first */
.up-container-first{
    background-color: #E8E9F0;
    border-radius: 5px;
    gap: 10px;
   display: flex;
   width: 45%;
   justify-content: space-between;
   padding: 2px;
}
.up-container-first > *{
    flex-shrink: 1;
    /* outline: 2px solid blue; */
    /* border: 2px solid red; */
    flex-grow: 0;
    /* padding: 5px 10px ; */
}

.image{
    position: relative;
}
.image span{
     position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    padding: 4px; 
} 
.image img{
   object-fit: cover;
   height: 100px;
    max-width: 100%;
    display: block;
    border-radius: 3px;
    align-content: center;
    /* position: relative;
    top: 10px; */
}
.icon-rating-section{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
}
.booking-rating-holder{
    gap: 3rem;
    display: flex;
    
}
.booking-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 10px; */
      justify-content: space-between;
}
/* end of up container one */

/* beginning of up container second */

.up-container-second{
    background-color: #E8E9F0;
    border-radius: 5px;
    gap: 10px;
    width: 45%;
   display: flex;
   padding: 2px;
}
.up-container-second > *{
    flex-shrink: 1;
    flex-grow: 0;
    /* outline: 2px solid green; */
    /* border: 2px solid green; */
    /* padding: 5px 10px; */
}
.paragraph-background-second{
    background-color: rgba(40, 206, 40, 0.2);
    padding: 3px;
}
.paragraph-text-second{
    color: green;
    font-size: 8px;
}
.up-container-second > .icon-rating-section{
    /* margin-left: 20px; */
}

/* end of up containers */

/* beginning of down containers  */



.booking-description-one>h1 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.booking-description-one>h3{
 font-size: 12px;
}

.booking-description-one p, .second-paragraph p{
    margin: 0;
    font-size: 10px; 
}
.booking-description-one > * {
    1px
}

.paragraph-background{
    background-color: rgba(133, 37, 37,0.2);
    padding: 3px;
}


.paragraph-text{
    color: red;
    font-size: 8px;
}

.icon-rating{
    display: flex;
    gap: 3px;
    justify-content: end;
    text-align: end;
}

.icon-rating >h4{
    margin: 0; 
}

.icon-rating span{
    color: rgb(179, 179, 26);
}

.price{
    text-align: end;
    font-size: 12px;
}

.price strike{
    color: rgb(164, 27, 27);
}



.down-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #040F23;
   
}

